/* base.css */
html {
  background: gray;
}

.box {
  height: 200px;
  width: 200px;
  border-radius: 3px;
  background: green;
}

#box-big {
  height: 300px;
  width: 300px;
  border-radius: 5px;
  background: red;
  background: url('../images/4.jpg');
  background-size: cover;
}

.box-small {
  height: 100px;
  width: 100px;
  border-radius: 2px;
  background: yellow;
  background: url('../images/small1.jpg');
}
